homeassistant:
  name: {{ hitchhiker_name }}
  customize: !include customization.yaml
  latitude: {{ homeassistant_home_latitude }}
  longitude: {{ homeassistant_home_longitude }}
  elevation: {{ homeassistant_home_elevation }}
  unit_system: {{ homeassistant_unit_system }}
  time_zone: {{ homeassistant_timezone }}

api:

{%- if homeassistant_enable_frontend -%}
frontend:

lovelace:
{%- endif -%}

http:

{% if integration_configuration is defined %}
{{ integration_configuration | to_nice_yaml(indent=2) }}
{% endif %}
