homeassistant:
  name: {{ hitchhiker_name }}
  customize: !include customization.yaml
  latitude: {{ homeassistant_home_latitude }}
  longitude: {{ homeassistant_home_longitude }}
  elevation: {{ homeassistant_home_elevation }}
  unit_system: {{ homeassistant_unit_system }}
  time_zone: {{ homeassistant_timezone }}

api:

{{ "" if not homeassistant_enable_zeroconf else "zeroconf:" }}
{{ "" if not homeassistant_enable_ssdp else "ssdp:" }}

{%- if homeassistant_enable_frontend -%}
frontend:

lovelace:
{%- endif -%}

http:

{% if integration_configuration is defined %}
{{ integration_configuration | to_nice_yaml(indent=2) }}
{% endif %}

logger:
  default: '{{ homeassistant_log_level_default }}'
{% if homeassistant_log_level_components | default({}) | length > 0 %}
  logs: {{ homeassistant_log_level_components }}
{% endif %}
